/*

 responsive-rest.css
 Employs responsive CSS using media queries for the Restaurant Reviews App
 Attempt to deploy "default" as smallest screen size and then "em" up scale

 NOTE: This only applies responsive design to restaurant.html. Index.html 
 is handled in 'responsive-index.css'
 Author: Steve Prager

*/

/* Minimum screen size (small mobile) */
@media screen and (max-width: 400px) {
	.inside #map-container {
		width: 100%;
	}
	#restaurant-container, #reviews-container, #breadcrumb {
		width: 100%;
	}
	#restaurant-name {
		font-size: 1.5em;
	}
	#restaurant-hours td {
		width: 100px;
	}
	.review-comments {
		font-size: 0.8em;
	}
	.review-name, .review-date, .review-rating {
		font-size: 1.0em;
	}
}

/* Slightly larger (mid/large mobile) */
@media screen and (min-width: 400px) and (max-width: 510px) {
	nav h1 a {
		font-size: 1.5em;
	}
	#restaurant-name {
		font-size: 1.8em;
	}
	#restaurant-cuisine {
		font-size: 1.8em;
	}
	#restaurant-hours td {
		text-align: center;
		font-size: 1.3em;
	}
	#reviews-container h2 {
		font-size: 2.5em;
	}
	.review-name, .review-date, .review-rating {
		font-size: 1.3em;
	}
}

/* Slightly larger (small-size tablet) */
@media screen and (min-width: 510px) and (max-width: 670px) {
	nav h1 a {
		font-size: 2.0em;
	}
	#restaurant-name {
		font-size: 3.0em;
	}
	#restaurant-address {
		font-size: 1.5em;
	}
	#restaurant-cuisine {
		font-size: 1.8em;
	}
	#restaurant-img, #restaurant-cuisine {
		width: 400px;
	}
	#restaurant-hours td {
		text-align: center;
		font-size: 1.3em;
	}
	#reviews-container h2 {
		font-size: 3.0em;
	}
	.review-name, .review-date, .review-rating {
		font-size: 1.3em;
	}
}

/* Slightly larger  tablet */
/* NOTE: here we're switching to flex display */
@media screen and (min-width: 670px) and (max-width: 1000px) {
	#maincontent {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
	}
	#restaurant-container {
		order: 1;
		width: 50%;
		border-left: none;
		border-right: none;
		border-bottom: none;
		border-top: 1px solid black;
	}
	#map-container {
		order: 2;
		width: 50%;
		border: none;
	}
	#reviews-container {
		order: 3;
		width: 100%;
	}
	.inside #map {
		height: 100%;
		border-left: none;
		border-right: none;
	}
	nav h1 a {
		font-size: 2.2em;
	}
	#restaurant-name {
		font-size: 1.8em;
	}
	#restaurant-address {
		font-size: 1.3em;
	}
	#restaurant-cuisine {
		font-size: 1.3em;
	}
	#restaurant-img, #restaurant-cuisine {
		width: 80%;
	}
	#restaurant-hours td {
		text-align: center;
		font-size: 1.3em;
	}
	#reviews-container h2 {
		font-size: 3.5em;
	}
	.review-name, .review-date, .review-rating {
		font-size: 1.6em;
	}
	.review-comments {
		font-size: 1.3em;
	}
	#reviews-list li {
		padding: 20px;
		width: 90%;
	}
	#reviews-container {
		border: none;
	}
	#breadcrumb li {
		font-size: 1.1em;
	}
	#footer {
		font-size: 1.3em;
	}
}

/* Near full size (computer)) */
/* Still on flex here */
@media screen and (min-width: 1000px) and (max-width: 1200px) {
	#maincontent {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
	}
	#restaurant-container {
		order: 1;
		width: 50%;
		border-left: none;
		border-right: none;
		border-bottom: none;
		border-top: 1px solid black;
	}
	#map-container {
		order: 2;
		width: 50%;
		border: none;
	}
	#reviews-container {
		order: 3;
		width: 100%;
	}
	.inside #map {
		height: 99.5%;
		border-left: none;
		border-right: none;
	}
	nav h1 a {
		font-size: 2.2em;
	}
	#restaurant-name {
		font-size: 2.1em;
	}
	#restaurant-address {
		font-size: 1.6em;
	}
	#restaurant-cuisine {
		font-size: 1.6em;
	}
	#restaurant-img, #restaurant-cuisine {
		width: 80%;
	}
	#restaurant-hours td {
		text-align: center;
		font-size: 1.3em;
	}
	#reviews-container h2 {
		font-size: 4.5em;
	}
	.review-name, .review-date, .review-rating {
		font-size: 2.0em;
	}
	.review-comments {
		font-size: 1.6em;
	}
	#reviews-list li {
		padding: 20px;
		margin-bottom: 20px;
		width: 90%;
	}
	#breadcrumb li {
		font-size: 1.4em;
	}
	#footer {
		font-size: 1.5em;
	}
}

/* Full size (large computer)) */
@media screen and (min-width: 1200px) {
	#maincontent {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
	}
	#restaurant-container {
		order: 1;
		width: 50%;
		border-left: none;
		border-right: none;
		border-bottom: none;
		border-top: 1px solid black;
	}
	#map-container {
		order: 2;
		width: 50%;
		border: none;
	}
	#reviews-container {
		order: 3;
		width: 100%;
	}
	.inside #map {
		height: 99.5%;
		border-left: none;
		border-right: none;
	}
	nav h1 a {
		font-size: 2.7em;
	}
	#restaurant-name {
		font-size: 2.8em;
	}
	#restaurant-address {
		font-size: 1.8em;
	}
	#restaurant-cuisine {
		font-size: 1.9em;
	}
	#restaurant-img, #restaurant-cuisine {
		width: 80%;
	}
	#restaurant-hours td {
		text-align: center;
		font-size: 1.6em;
	}
	#reviews-container h2 {
		font-size: 5.0em;
	}
	.review-name, .review-date, .review-rating {
		font-size: 2.6em;
	}
	.review-comments {
		font-size: 2.2em;
	}
	#reviews-list li {
		padding: 20px;
		margin-bottom: 20px;
		width: 90%;
	}
	#breadcrumb li {
		font-size: 1.7em;
	}
	#footer {
		font-size: 1.5em;
	}
}

