/*

 responsive-rest.css
 Employs responsive CSS using media queries for the Restaurant Reviews App
 Attempt to deploy "default" as smallest screen size and then "em" up scale

 NOTE: This only applies responsive design to restaurant.html. Index.html 
 is handled in 'responsive-index.css'
 Author: Steve Prager

*/

/* Minimum screen size (small mobile) */
@media screen and (max-width: 400px) {
	.inside #map-container {
		width: 100%;
	}
	#restaurant-container, #reviews-container, #breadcrumb {
		width: 100%;
	}
	#restaurant-name {
		font-size: 1.5em;
	}
	#restaurant-hours td {
		width: 100px;
	}
	.review-comments {
		font-size: 0.8em;
	}
	.review-name, .review-date, .review-rating {
		font-size: 1.0em;
	}
}

/* Slightly larger (mid/large mobile) */
@media screen and (min-width: 400px) and (max-width: 510px) {
	nav h1 a {
		font-size: 1.5em;
	}
	#restaurant-name {
		font-size: 1.8em;
	}
	#restaurant-cuisine {
		font-size: 1.8em;
	}
	#restaurant-hours td {
		text-align: center;
		font-size: 1.3em;
	}
	#reviews-container h2 {
		font-size: 2.5em;
	}
	.review-name, .review-date, .review-rating {
		font-size: 1.3em;
	}
}

/* Slightly larger (small-size tablet) */
@media screen and (min-width: 510px) and (max-width: 670px) {
	nav h1 a {
		font-size: 2.0em;
	}
	#restaurant-name {
		font-size: 3.0em;
	}
	#restaurant-address {
		font-size: 1.5em;
	}
	#restaurant-cuisine {
		font-size: 1.8em;
	}
	#restaurant-img, #restaurant-cuisine {
		width: 400px;
	}
	#restaurant-hours td {
		text-align: center;
		font-size: 1.3em;
	}
	#reviews-container h2 {
		font-size: 3.0em;
	}
	.review-name, .review-date, .review-rating {
		font-size: 1.3em;
	}
}

/* Slightly larger  tablet) */
/* NOTE: here we're switching to flex display */
@media screen and (min-width: 670px) and (max-width: 844px) {
	#maincontent {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
	#restaurant-container {
		order: 1;
		margin: 0;
	}
	#map-container {
		order: 2;
		margin: 0;
	}
	#reviews-container {
		order: 3;
		margin: 0;
	}
	#restaurant-container, #reviews-container, #map-container {
		width: 49%;
	}
	#map-container, #map {
		height: 100%;
	}
	nav h1 a {
		font-size: 2.2em;
	}
	#restaurant-name {
		font-size: 3.0em;
	}
	#restaurant-address {
		font-size: 1.5em;
	}
	#restaurant-cuisine {
		font-size: 1.8em;
	}
	#restaurant-img, #restaurant-cuisine {
		width: 90%;
	}
	#restaurant-hours td {
		text-align: center;
		font-size: 1.3em;
	}
	#reviews-container h2 {
		font-size: 3.0em;
	}
	.review-name, .review-date, .review-rating {
		font-size: 1.3em;
	}
}

/* Near full size (computer)) */
@media screen and (min-width: 845px) and (max-width: 999px) {
	nav h1 a {
		font-size: 2.2em;
	}
}


/* Full size (computer)) */
@media screen and (min-width: 999px) {

}

@media screen and (min-width: 999px) and (max-width: 1200px) {
	nav h1 a {
		font-size: 2.2em;
	}
}


/* Full size (large computer)) */
@media screen and (min-width: 1200px) {
	nav h1 a {
		font-size: 2.2em;
	}
}

